<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
        background-color: red;
      }
      div {
        padding: 0 30%; 
        text-align: left;

      }
    </style>
    <h2 style="text-align: center;"> [[prop1]]!</h2>
    <div style="border: 1px solid black">
      
        <h3><span>[[labe]]</span></h3>
        <section>[[lore]]</section>
        <h3><span>[[labe]]</span></h3>
        <section>[[lore]]</section>
        <h3><span>[[labe]]</span></h3>
        <section>[[lore]]</section>
        <button>Enviar</button>
    </div>
  </template>


  

  <script>
         

    /**
     * `information-card`
     * componenete que no tenfo ni la mas minima idea de que es lo que quiere que hagamos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation'
          },
          labe:{
            type:String,
            value:'Label'
          },
          lore:{
            type: String,
            value: 'lorem impsum text info data'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>

</dom-module>
